<div class="">
  <div class="row">
    <div class="col" *ngIf="data">
      <span class="" [ngSwitch]="data.result">
        <ng-template class="col-md" [ngSwitchCase]="'Success'">
          <app-success></app-success>
        </ng-template>
        <ng-template class="col-md" [ngSwitchCase]="'Failure'">
          <app-failure></app-failure>
        </ng-template>
        <ng-template class="col-md" [ngSwitchDefault]>
          <app-nodata></app-nodata>
        </ng-template>
      </span>
    </div>   
    <div class="col-md-12"class="text-muted" class="red-square" *ngIf="isURLReachable">
      <small>
         {{error}}
      </small>
  </div>
  </div>
</div>