<div class="">
  <div class="row">
    <div class="col" *ngIf="data">
      <span class="" [ngSwitch]="data.result">
        <ng-template class="col-md" [ngSwitchCase]="'Success'">
          <app-success></app-success>
        </ng-template>
        <ng-template class="col-md" [ngSwitchCase]="'Failure'">
          <app-failure></app-failure>
        </ng-template>
        <ng-template class="col-md" [ngSwitchDefault]>
          <app-nodata></app-nodata>
        </ng-template>
      </span>
    </div>
  </div>
  <!-- <div class="row justify-content-center">
    <div class="col-md">
      <button class="btn btn-default" (click)="callGetData()">Update</button>
    </div>
  </div> -->
</div>