/* You can add global styles to this file, and also import other style files */
body {
    background-color: rgb(241, 242, 243)
}

.success-text{
    color : #92e3a9;
}

.failure-text{
    color : #ff725e;
}


.first-screen{
    color : #00bdc2;
}
.red-square {
    background-color: #ff725e;
    width: 150px;
    height: 30px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }